* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .main {
    background: #879693;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
  }
  
  .main h1 {
    font-size: 4rem;
    font-weight: 700;
  }
  
  .btn-main {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-weight: 700;
    border-radius: 60px;
    margin-right: -35px;
  }
  
  .btn-main:hover {
    background: gray;
    color: white;
  }
  
  h1 {
    font-weight: 700;
  }
  
  .btn1 {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(248, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 60px;
  }
  
  .btn1:hover {
    background-color: rgb(223, 15, 77);
    transition: 0.5s;
  }
  
  .card:hover {
    box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
  }
  
  .apple {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(./assets/imagem2.jpg) no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
  }
  
  .news {
    background-color: black;
    color: white;
  }
  
  .btn2 {
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
  }
  
  .news input {
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background-color: black;
    color: white;
    margin-top: 20px;
    font-weight: 600;
  }
  
  .news::placeholder {
    color: white;
  }
  
  .news p {
    margin: 0;
  }
  
  .fab {
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
  }
  
  .teste h6 {
    font-size: 25px !important;
  }
  